<!DOCTYPE HTML>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <title>发布作业</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
 
    <script type="text/javascript" src="__PUB__/umeditor/third-party/jquery.min.js"></script>

        <script src="__PUB__/sweetalert-master/dist/sweetalert.min.js"></script> 
    <link rel="stylesheet" type="text/css" href="__PUB__/sweetalert-master/dist/sweetalert.css">
    <link rel="stylesheet" href="__PUB__/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUB__/sm/sm.css">
    <script src="__PUB__/sm/sm.js"></script>

      <link href="__PUB__/startbootstrap/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="__PUB__/startbootstrap/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="__PUB__/startbootstrap/dist/css/sb-admin-2.css" rel="stylesheet">

    <link href="__PUB__/startbootstrap/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Bootstrap Core JavaScript -->
    <script src="__PUB__/startbootstrap/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="__PUB__/startbootstrap/bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="__PUB__/startbootstrap/dist/js/sb-admin-2.js"></script>
  
    
   
<!-- 
    <link rel="stylesheet" type="text/css" href="__PUB__/input_beautify/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="__PUB__/input_beautify/css/component.css" /> 
    <link rel="stylesheet" type="text/css" href="__PUB__/input_beautify/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="__PUB__/input_beautify/fonts/font-awesome-4.2.0/css/font-awesome.min.css" /> -->

</head>
<body>



 <div id="wrapper">

 <include file="Public/sbider" />

        <!-- Page Content -->
        <div id="page-wrapper" style="">
            <div class="container-fluid" >
           <div style="">
<!-- <button name="fanhui"  onclick="fanhui()">返回上一页</button> -->
</div>
   <div class="alert alert-warning" style="padding-bottom: 4%">

                                <h3 align="center">   {$now_course}- 姓名：<span id='task_sname'> {$task_data.sname}</span> 班级：<span id='task_class'>{$task_data.class}</span></h3>
                                <if condition="$path eq 1">
                                        <a href="{:U('Teacher/class/index',array('course'=>$now_course))}"><button type="button" class="btn btn-warning" style="float:left;">返回上一页</button></a>
                                <else />
                                <a href="{:U('Teacher/taskdetail/index',array('id'=>$task_data['task_id'],'course'=>$now_course))}"><button type="button" class="btn btn-warning" style="float:left;">返回上一页</button></a>
                              </if>
                                <button type="button" class="btn btn-danger"onclick="next_task5({$task_data.task_id})" style="float: right;">下一个学生</button>

                
                            </div>


<input type="hidden" id="next_student_task" value="{:U('Teacher/viewtask/next_student_task')}">

<div class="panel panel-danger">
   <div class="panel-heading">
      <h3 class="panel-title">
         <strong>作业标题:</strong><span id='task_title'> {$task_data['title']}</span> 
         <span style="float: right;"> <strong>提交时间：</strong>
         <span id='task_submit_time'>{:date('n-j H:i 周L',$task_data['submit_time'])}
         </span>
       </span>
   </div>
   <div class="panel-body" id="task_content">
     {$task_data['content']}
   </div>
</div>


<input type="hidden" name="modify_content" id="modify_content" value="{$s_task_data['content']}">
<input type="hidden" id="send_task" value="{:U('Student/task/send_task',array('task_id'=>$task_data['id'],'task_type'=>$task_data['type']))}">

<if condition="$modify eq 0">


<div class="form-group" align="center">
 <label>请将您的批改情况填在下框</label>
 <textarea class="form-control" rows="3" id="mark" style="width: 30%">已批改</textarea>
 <div class="form-group has-error">
 <label class="control-label" for="inputError">请输入成绩</label>
<input type="text" class="form-control" id="score" style="width: 30%">
  </div>
</div>
<else />

<div class="form-group" align="center">
 <label>您的批改内容</label>
 <textarea class="form-control" rows="3" id="mark" style="width: 30%">{$task_data['mark_reply']}</textarea>
 <div class="form-group has-error">
 <label class="control-label" for="inputError">您的批改成绩</label>
<input type="text" class="form-control" id="score" style="width: 30%" value="{$task_data['score']}">
  </div>
</div>
  </if>
<input type="hidden" id="s_task_id" value="{$task_data['id']}">


<div align="center">
  
    <button name="send" onclick="mark_task()">提交</button>

</div>
 <input type="hidden" id="mark_task" value="{:U('Teacher/viewtask/mark_task')}">


</body>
</html>