<!DOCTYPE HTML>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <title>发布作业</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
 
    <script type="text/javascript" src="__PUB__/umeditor/third-party/jquery.min.js"></script>

        <script src="__PUB__/sweetalert-master/dist/sweetalert.min.js"></script> 
    <link rel="stylesheet" type="text/css" href="__PUB__/sweetalert-master/dist/sweetalert.css">
    <link rel="stylesheet" href="__PUB__/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUB__/sm/sm.css">
    <script src="__PUB__/sm/sm.js"></script>

      <link href="__PUB__/startbootstrap/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="__PUB__/startbootstrap/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="__PUB__/startbootstrap/dist/css/sb-admin-2.css" rel="stylesheet">


    <!-- Bootstrap Core JavaScript -->
    <script src="__PUB__/startbootstrap/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="__PUB__/startbootstrap/bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="__PUB__/startbootstrap/dist/js/sb-admin-2.js"></script>
  
    <script  type="text/javascript">

   
    
    </script>

</head>
<body>



 <div id="wrapper">

 <include file="public/sbider" />

        <!-- Page Content -->
        <div id="page-wrapper" style="">
            <div class="container-fluid" >
           <div style="">
<!-- <button name="fanhui"  onclick="fanhui()">返回上一页</button> -->
</div>
   <div class="alert alert-warning" style="padding-bottom: 30px">
                                <h3 align="center">   {$now_course}-{$task_data.sname}</h3>
                                <button style="float: right;">下一个学生</button>
                            </div>




<div class="panel panel-danger">
   <div class="panel-heading">
      <h3 class="panel-title">
         <strong>作业标题:</strong> {$task_data['title']} <span style="float: right;"> <strong>提交时间：</strong>{:date('n-j H:i 周L',$task_data['submit_time'])}</span>
   </div>
   <div class="panel-body">
     {$task_data['content']}
   </div>
</div>



<input type="hidden" name="modify_content" id="modify_content" value="{$s_task_data['content']}">
<input type="hidden" id="send_task" value="{:U('Student/task/send_task',array('task_id'=>$task_data['id'],'task_type'=>$task_data['type']))}">

<div class="form-group" align="center">
 <label>请将您的批改情况填在下框</label>
 <textarea class="form-control" rows="3" id="mark" style="width: 30%">已批改</textarea>
 <div class="form-group has-error">
 <label class="control-label" for="inputError">请输入成绩</label>
<input type="text" class="form-control" id="score" style="width: 30%">
  </div>
</div>
<div align="center">
   <if condition="$modify eq 1">

    <button name="send" onclick="send_task({$s_task_data['id']})">提交</button>
    <else />
    <button name="send" onclick="send_task()">提交</button>
    </if>
</div>



</body>
</html>