<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<script src="__JQUERY__/jquery-2.1.1.js"></script>
    <script src="__JQUERY__/jquery-2.1.1.min.js"></script>
    <script src="__PUB__/bootstrap/js/bootstrap.min.js"></script>
    <script src="__PUB__/sweetalert-master/dist/sweetalert.min.js"></script> 
	<link rel="stylesheet" type="text/css" href="__PUB__/sweetalert-master/dist/sweetalert.css">
	<link rel="stylesheet" href="__PUB__/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="__PUB__/sm/sm.css">
	<title>Document</title>
</head>
<body>
<div class="container">
 <include file="public/header" />

<table class="table">
   <caption>课程：{$course}   班级：{$class}</caption>
   <thead>
      <tr>
         <th>姓名</th>
         <th>作业情况</th>
         <th>查看作业</th>
         <th>提问情况</th>
      </tr>
   </thead>
   <tbody>
   <volist name="student" id="value" key="key" >
      <tr class="active">
         <td><a href="{:U('Index/teacher_course',array('cname'=>$value))}">
		{$value[1]}
		 </a>
         </td>
         <td>上次：已提交->更多</td>
         <td>查看</td>
         <td>无</td>
      </tr>
    </volist>
         </tbody>
</table>

	

</div>
	
</body>
</html>